bleach
dj-static
django-ckeditor
django-crispy-forms
django-environ
django-ipware
django-reversion
Django<2
gunicorn
ipython
loremipsum
Pillow
psycopg2
pypugjs
python-dateutil
python-memcached
requests
requests-oauthlib
