bleach>=1.4,<1.5
django-crispy-forms>=1.5,<1.6
django-ipware>=1.1,<1.2
django-reversion>=1.10,<1.11
Django>=1.9,<1.10
djangocodemirror>=0.9,<1.0
django-ckeditor>=5.0,<5.1
gunicorn>=19,<20
ipython>=4.0,<4.1
loremipsum>=1.0,<1.1
ndg-httpsclient>=0.4,<0.5
Pillow>=3.0,<3.1
pyasn1>=0.1,<0.2
pyOpenSSL>=0.15,<0.16
python-dateutil>=2.4,<2.5
requests-oauthlib>=0.6,<0.7
requests>=2.9,<2.10
oauthlib>=1.0,<1.1
git+https://github.com/syrusakbary/pyjade@c46ec227d85385c9666d58648aff751b8d98eaf3#egg=pyjade