extends tracon2017_base.jade
block content
  include content_toolbar_admin_page.pug
  article.clearfix
    h1 {{ page.title }}
    {{ page.body|safe }}
  .row
    .col-md-6
      h3 Ajankohtaista
      for blog_post in news_posts
        include tracon2017_front_page_blog_link.html
      a(href='{% url "content_blog_index_view" %}') Lis채채 uutisia...
    .col-md-6
      h3 Traconin blogissa
      for blog_post in blog_posts
        include tracon2017_front_page_blog_link.html
      a(href='{{ blog_index_url }}') Lis채채 blogikirjoituksia...
