extends tracon2017_base.jade
block content
  include content_toolbar_admin_page.jade
  article.clearfix
    h1 {{ page.title }}
    {{ page.body|safe }}

    p &nbsp;

    if artists.exists
      table.table.table-striped
        thead
          tr
            th(scope='row') Pöytä
            th(scope='col') Taidekujailija
            th(scope='col') Kuvaus
        tbody
          for artist in artists
            tr
              th(scope='row') {{ artist.table_number }}.
              td
                div
                  if artist.homepage_url
                    a(href='{{ artist.homepage_url }}' target='_blank') {{ artist.name }}
                  else
                    | {{ artist.name }}
                if artist.image_file
                  img(src='{{ artist.image_file.url }}' style='width: 100%')
              td {{ artist.description|linebreaks }}
