doctype 5
- load static from staticfiles
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
      block full_title
        {% if page.title %}{{ page.title }} – {{ site_settings.title }}{% else %}{{ site_settings.title }}{% endif %}
    meta(name='description', content='{{ site_settings.description }}')
    meta(name='keywords', content='{{ site_settings.keywords }}')
    link(rel='stylesheet', type='text/css', href='{% static "common/css/bootstrap.min.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "simple/css/simple.css" %}')
    link(rel='alternate', type='application/rss+xml', title='Blog', href='{{ feeds.rss }}')
    link(rel='alternate', type='application/atom+xml', title='Blog', href='{{ feeds.atom }}')
    script(src='{% static "common/js/jquery.min.js" %}', defer)
    script(src='{% static "common/js/bootstrap.min.js" %}', defer)
  body
    .navbar.navbar-inverse.navbar-fixed-top.tracon-navbar
      .container
        .navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#tracon-navbar-collapse")
            span(class="sr-only") Avaa valikko
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

          a.navbar-brand(href='/') {{ site_settings.title }}

        .collapse.navbar-collapse#tracon-navbar-collapse
          include content_navbar_menu.pug
          include content_navbar_user.pug

    .tracon-content-wrap
      block full_width_content
        .container
          .row
            .col-md-10
              block content
                p Content goes here.
            .col-md-2
              .tracon-banners
                include ads_sidebar_banners.jade

      .tracon-footer-push

    footer
      .container
        p.tracon-credit
          small.text-muted {{ tracontent_footer|safe }}

    include google_analytics.jade
