doctype html
- load static from staticfiles
html
  head
    title Animecon 2016
    meta(charset='utf-8')
    //- script(type='text/javascript', src='code/javascript/slide.js')
    link(rel='stylesheet', type='text/css', href='{% url "resources_style_sheet_view" "style.css" %}')
    link(rel='stylesheet', type='text/css', href='{% url "resources_style_sheet_view" "layout.css" %}')
    link(rel='stylesheet', type='text/css', href='{% url "resources_style_sheet_view" "usermenu.css" %}')
    link(rel='shortcut icon', href='{% static "animecon2016/img/favicon.png" %}', type='image/png')
    link(rel='icon', href='{% static "animecon2016/img/favicon.png" %}', type='image/ico')
    script(type='text/javascript').
      document.createElement('header');
      document.createElement('nav');
      document.createElement('main');
      document.createElement('article');
      document.createElement('twitter');
      document.createElement('side');
      document.createElement('icon');
      document.createElement('content');
      document.createElement('sponsors');
      document.createElement('footer');
    style.
      html{
        background-image: url({% static "animecon2016/img/bg_pattern.png" %}); background-repeat:repeat-x; background-color:#eaeaea;
      }
  body
    include animecon2016_user_menu.jade
    header(style='background-image:url({% static "animecon2016/img/banneri_2016.png" %}); background-repeat:no-repeat; background-position:center;')
    nav
      #extra
      #wrapper
        include animecon2016_menu.jade
        icon
          a(target='_blank', href='https://www.facebook.com/AnimeconFI')
            img(src='{% static "animecon2016/img/some_fb.png" %}')
          a(target='_blank', href='https://twitter.com/AnimeconFI')
            img(src='{% static "animecon2016/img/some_twitter.png" %}')
          a(target='_blank', href='https://www.youtube.com/channel/UCrFNhEYZO-KPo4Mn2wucnUQ')
            img(src='{% static "animecon2016/img/some_yt.png" %}')
    #shadow
      .navshadow
      .navShadow
    block content_full_width
      content
        main
          block content
            p Sisältö tulee tähän.
        side
          twitter
            a.twitter-timeline(width='250', height='350', data-dnt='true', href='https://twitter.com/AnimeconFI', data-widget-id='558954967277768704') Tweets by @AnimeconFI
            script.
              !function(d,s,id){
              var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
              if(!d.getElementById(id)){
              js=d.createElement(s);
              js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          sponsors
            h1 Sponsorit
            include ads_sidebar_banners.jade
    footer
      #extraFoot
      p @Animecon
