for entry in menu
  if entry.active
    for child in entry.children
      if child.active
        #activeSec.menuitemSec: a(href='#{ child.href }')= child.text
      else
        div.menuitemSec: a(href='{{ child.href }}')= child.text
