doctype 5
- load static from staticfiles
html
  head
    title
      block full_title
        {% if page.title %}{{ page.title }} – {{ site_settings.title }}{% else %}{{ site_settings.title }}{% endif %}
    link(rel='stylesheet', type='text/css', href='{% static "tracon11/css/bootstrap.min.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "tracon11/css/tracon11.css" %}')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') {{ site_settings.title }}
    .tracon-content-wrap
      .container
        include content_admin_toolbar.jade
        h1 {{ page.title }}
        {{ page.body|safe }}

      .tracon-footer-push

    footer
      .container
        p.tracon-credit
          small.text-muted {{ tracontent_footer|safe }}
