if request.user.is_staff
  .btn-group.pull-right
    a.btn.btn-success(href='{% url "admin:content_blogpost_add" %}') Uusi blogipostaus...
    a.btn.btn-primary(href='{% url "admin:content_blogpost_changelist" %}') Muokkaa blogipostauksia...
