doctype html
- load static from staticfiles
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
      block full_title
        |{% if page.title %}{{ page.title }} – {{ site_settings.title }}{% else %}{{ site_settings.title }}{% endif %}
    link(href='{% static "common/css/bootstrap.min.css" %}', rel='stylesheet')
    link(href='{% url "resources_style_sheet_view" "aicon.css" %}', rel='stylesheet')
    link(href='{% url "resources_style_sheet_view" "aicon_tracontent.css" %}', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet')
    link(href='{% static "common/aicon_avatar.png" %}', rel='shortcut icon', type='image')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .jumbotron.container-fluid
      .container
        .row
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.nav-justified
            for entry in menu
              if entry.active
                li.active: a(href='#{entry.href}')= entry.text
              else
                li: a(href='#{entry.href}')= entry.text

    main.container-fluid
      block full_width_content
        .container
          block content
            p Sisältö tulee tähän
          .row
            .col-md-12.sponsors.text-center
              include ads_sidebar_banners.jade
    footer.container-fluid
      .container
        .row
          .col-md-2.text-center.some
            div
              a(href='https://twitter.com/Aicon_FI')
                i.fa.fa-twitter-square
              a(href='https://www.facebook.com/aiconfinland')
                i.fa.fa-facebook-square
              a(href='https://www.instagram.com/aiconfi/')
                i.fa.fa-instagram

          .col-md-10.text-right
            p
              | Web Design © 2017 Ronja Kyrölä
              br
              | Sivustoa pyörittää TraContent CMS Enterprise Edition © 2014–2017 Santtu Pajukanta.
            if request.user.is_anonymous
              p: a(href='{{ settings.LOGIN_URL }}') Kirjaudu sisään...
            else
              p: <a href='/admin/'>Sivuston ylläpito</a> · <a href='{{ settings.LOGOUT_URL }}'>Kirjaudu ulos ({{ user_meta.get_full_name }})</a>

    script(src='{% static "common/js/bootstrap.min.js" %}')
    script(src='{% static "common/js/jquery.min.js" %}')
