extends aicon2018_base.jade
block full_width_content
  .container
    .row
      .col-md-7
        block content
          p Sisältö tulee tähän
      .col-md-5.blogi
        h2 Uutiset
        for blog_post in news_posts
          dl.news
            dt
              a(href='{{ blog_post.get_absolute_url }}')= blog_post.title
              small {{ blog_post.date|date:"SHORT_DATE_FORMAT" }}
            dd= blog_post.excerpt
    .row
      .col-md-12.sponsors.text-center
        include ads_sidebar_banners.jade
