html{height:100%;}

icon img{max-height:35px; max-width:35px; margin-right:10px;}
icon{display:inline-block; float:right; z-index:5; margin-right:50px; margin-top:10px;}

body{width:1200px; margin: 0px auto 0px auto; height:100%}
header{background:url(""); height:150px; display:block;}

content{width:1100px; max-height:70%; overflow:auto; display:inline-block; margin-left:50px; margin-top:-60px;} 
main{width: 790px; display:block; float:left;}
main img{max-width:100%; margin: 20px;}
side{width:290px; display:block; float:right;}

#menuitem{display:inline-block; margin-right:10px; font-size:20px; padding:5px; margin-top:10px; font-family:Helvetica;  text-transform:uppercase; box-shadow: 5px 5px #363636;}
#wrapper{width: 1000px; margin: 0px auto 0px auto;} 

twitter{display:block; margin-top:20px; margin-left:15px;}

sponsors{clear:both; display:block;}
sponsors img{padding-bottom: 20px; margin-left:20px;}


/* NAVIGAATIO JA SEN VARJOHOMMELIT */
nav{background: #404041;height:60px; display:block; width:1150px; padding-top:5px;
    -ms-transform: skew(-20deg); /* IE 9 */
    -webkit-transform: skew(-20deg); /* Safari */
    transform: skew(-20deg);}
nav img{
    -ms-transform: skew(20deg); /* IE 9 */
    -webkit-transform: skew(20deg); /* Safari */
    transform: skew(20deg);}
#extra{background: #404041; height:60px; display:block; width:100px; padding-top:5px; float:right; margin-right:-45px; margin-top:-5px;
    -ms-transform: skew(40deg); /* IE 9 */
    -webkit-transform: skew(40deg); /* Safari */
    transform: skew(40deg);}

.navshadow{height:60px; float:left; width:100px; margin-left:70px; background:#363636; z-index:-5; display:block;
    position: absolute;
    -ms-transform: skew(70deg); /* IE 9 */
    -webkit-transform: skew(70deg); /* Safari */
    transform: skew(70deg);}
.navShadow{height:60px; float:right; width:100px; margin-right:71px; background:#363636; z-index:-5; display:block;
    position: relative;
    -ms-transform: skew(-70deg); /* IE 9 */
    -webkit-transform: skew(-70deg); /* Safari */
    transform: skew(-70deg);}

footer{background: #404041;height:25px; display:block; width:1150px; position:absolute; margin-top:-5px;
    -ms-transform: skew(20deg); /* IE 9 */
    -webkit-transform: skew(20deg); /* Safari */
    transform: skew(20deg);}
#extraFoot{background: #404041; height:25px; width:100px; float:right; margin-right:-45px; display:block;
    -ms-transform: skew(-40deg); /* IE 9 */
    -webkit-transform: skew(-40deg); /* Safari */
    transform: skew(-40deg);}

footer p{-ms-transform: skew(-20deg); /* IE 9 */
    -webkit-transform: skew(-20deg); /* Safari */
    transform: skew(-20deg);}


