html{background-color: #EAEAEA;}

/* PERUS TYYLITYS */
body{}
header{}
main{}
main p{margin: 10px 20px 20px 20px;}
side{}
twitter{}
sponsors{}
content{background:#ffffff;}

footer p{color:#FFFFFF; margin-top:3px; text-align:center;}


/* TEKSTIEN TYYLIT */
p{margin: 20px;  font-size: 15px;  font-family: Helvetica;  color: #404041; text-align: justify;}
h1{margin: 20px; font-size: 20px; font-weight: bold; font-family: Helvetica; color: #939393;}
h2{margin: 20px; font-size: 28px; font-weight: bold; font-family: Helvetica; color: #36BBAE; margin-bottom: 0px}
h3{margin-left: 20px; margin-right: 20px; margin-bottom: -10px; font-size: 22px; font-weight: bold; font-family: Helvetica; color: #36BBAE;}
h4{margin-left: 20px; margin-right:20px; margin-bottom:2px; font-size:17px;}

li{ font-size: 15px;  font-family: Helvetica;}

a:link {color: #36BBAE; text-decoration: none; font-weight:bold;}
a:visited {color: #36BBAE; text-decoration: none;}
a:hover {color: #7FCEC6; text-decoration: none;}



/* MENUNTYYLITYS */
#menuitem{background: #36BBAE;}
#menuitem a:link{text-decoration: none; color: #404041;}
#menuitem a:visited {color: #404041; text-decoration: none;}
#menuitem:hover{background:#ffffff;}
#menuitem a:hover{color:#404041;}
.active{background-color: #ffffff;} 



/* YHTEYSTIETO TABLE */
table{margin-left: 10px; margin-bottom: 10px; margin-right:10px; font-size: 15px; color: #5A351B; font-family: Helvetica;}
table#yht tr:nth-child(even){background-color: #c9ece3;}
table#yht tr:nth-child(odd){background-color: #effffb;}
tr, td{padding: 5px;}
th{background-color: #2BB085; color: #15584C; padding: 5px; font-size: 16px; text-transform: uppercase; text-align: left;} 


