.japsufi-footer-push, footer {
  height: 45px;
}

nav {
  padding-top: 20px;
}

/* Fixed footer black magic */
html,
body {
  height: 100%;
}
.japsufi-content-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
}
.japsufi-footer-push, footer {
  height: 45px;
}
footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}
footer .japsufi-credit {
  padding-top: 10px;
}

figure {
  margin: 0.5em;
}

figcaption {
  margin-top: 0.2em;
}
