* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: white;
}

nav {
  background-color: #113;
  color: white;
  text-transform: uppercase;
  padding: 15px;
}

nav h1 {
  padding-left: 20px;
  margin-bottom: 25px;
}

nav a:link, nav a:visited {
  color: white;
  font-weight: 600;
}

nav a:hover {
  color: #111;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  background-color: white;
  color: #333;
}

article {
  font-size: 17px;
  line-height: 31px;
}

figure img {
  max-width: 100%;
}

figcaption {
  font-size: 15px;
  line-height: 21px;
  margin-top: 1em;
}


@media (min-width: 992px) {
  nav {
    position: fixed;
    height: 100%;
    width: 250px;
    padding: 30px;
  }

  .content {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 250px;
  }

  .content .container {
      width: 720px;
  }
}


@media (min-width: 1200px) {
  nav {
    width: 300px;
    padding: 30px;
  }

  .content {
    margin-left: 300px;
  }

  .content .container {
      width: 870px;
  }
}