extends aicon_base.jade
block content
  include content_toolbar_admin_page.jade
  article
    h1 {{ page.title }}
    {{ page.body|safe }}
  table#profiili(width='100%')
    for organizer_row in organizer_rows
      tr
        for organizer in organizer_row
          td
            img(src='{{ organizer.image_file.url }}')
            .name= organizer.name
            .job-title= organizer.job_title
            .email= organizer.email