doctype html
- load static from staticfiles
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
      block full_title
        |{% if page.title %}{{ page.title }} – {{ site_settings.title }}{% else %}{{ site_settings.title }}{% endif %}
    link(href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
    link(href='{% static "aicon/css/aicon.css" %}', rel='stylesheet', type='text/css')
    link(href='{% static "aicon/css/aicon_tracontent.css" %}', rel='stylesheet', type='text/css')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
  body
    ul#usermenu.list-horizontal
      if request.user.is_anonymous
        li: a(href='{{ settings.LOGIN_URL }}') Kirjaudu sisään...
      else
        if request.user.is_staff
          li: a(href='/admin/') Sivuston ylläpito
        li: a(href='{{ settings.LOGOUT_URL }}') Kirjaudu ulos ({{ request.user.get_full_name }})

    #topsection
      .top1
      .top2
        .content
      .navigaatio
        for entry in menu
          a.navi(href='#{entry.href}')= entry.text

    #contentwrapper
      .pad
        block full_width_content
          block content
            p Sisältö tulee tähän.
    #footer
      p © Aicon 2015

    if site_settings.google_analytics_token
      if not request.user.is_staff
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ site_settings.google_analytics_token }}', 'auto');
          ga('send', 'pageview');



