extends aicon_base.jade
block content
  include content_toolbar_admin_page.jade
  article
    h1 {{ page.title }}
    {{ page.body|safe }}
  for organizer_row in organizer_rows
    for organizer in organizer_row
      .aicon-organizer
        if organizer.image_file
          img(src='{{ organizer.image_file.url }}')
        .name= organizer.name
        .job-title= organizer.job_title
        .email= organizer.email