/* Main stuff */

body{
	background: url('../img/music-2.jpg') no-repeat #3C1149;
	font-family: Arial, Sans-serif;
	font-size: 14px;
	margin:0;
	padding:0;
	line-height: 1.5em;
}

#usermenu {
	position: absolute;
	top: 0;
	right: 30px;
	background-color: black;
	margin: 0;
	padding: 0 1em 0 1em;
}

#usermenu a:link {
	color: white;
}

#usermenu a:visited {
	color: white;
}

.list-horizontal {
  list-style-type: none;
}

.list-horizontal li {
	display: inline;
}

.list-horizontal li + li {
	margin-left: 1em;
}

table {
	font-family: Arial, Sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	border-collapse: collapse;
}

table .news {
	background: url('../img/lilabg.png');
	padding: 10px;
	color: white;
	margin-bottom: 5px;
}

table .news b {
	color: #ffff99;
}

table .news a {
	color: white;
}

a:link, a:visited {
	color: #5E1A64;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 25px;
	padding-left: 30px;
}

h3 {
	font-size: 30px;
	color: black;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 4px;
}

h3:before, h3:after {
	content: " • ";
}

h4 {
	font-size: 20px;
}

/* Navigation systems */

.navi {
	padding: 5px 0px;
	margin-right: 40px;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

a:link.navi, a:visited.navi {
	color: #ffff99;
	text-decoration: none;
}

a:hover.navi {
	color: white;
	text-shadow: 0 0 10px #FFF9DC;
}

.sivunavi {
	padding: 10px 5px;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

a:hover.sivunavi {
	background: #BB629A;
}

a:link.sivunavi, a:visited.sivunavi {
	text-decoration: none;
	color: white;
}

/* Block systems */

#ai {
	z-index: -1;
	background: url('../img/aichan5.png') no-repeat;
	width: 966px;
	height: 1121px;
	position: absolute;
	top: 0;
	left: 0;
}

#ai2 {
	z-index: -1;
	background: url('../img/aichan.png') no-repeat;
	width: 966px;
	height: 1121px;
	position: absolute;
	top: 0;
	left: 0;
}

#topsection{
	width: 100%;
	top: 0;
}

#topsection .top1 {
	width: 100%;
	height: 20px;
	background: url('../img/lilabg.png');
}

#topsection .top1tumma {
	width: 100%;
	height: 20px;
	background: #8D298B;
}

#topsection .top2 {
	width: 100%;
	height: 550px;
}

#topsection .content {
	padding-top: 160px;
	padding-left: 800px;
	text-align: left;
	background: url('../img/aicontesti2.png') no-repeat bottom right;
	width: 500px;
	height: 140px;
}

#topsection .content2 {
	text-align: left;
	padding-top: 134px;
	padding-left: 800px;
	background: url('../img/aicontesti2.png') no-repeat bottom right;
	width: 500px;
	height: 140px;
}

#topsection .top3 {
	width: 100%;
	height: 400px;
}

#topsection .navigaatio {
	background: url('../img/lilabg.png');
	width: 100%;
	text-align: center;
	height: 60px;
	padding-top: 40px;
}

#topsection .tummanavi {
	background: #8D298B;
	width: 100%;
	text-align: center;
	height: 60px;
	padding-top: 40px;
}

#topsection .navigaatio2 {
	background: #F6A0C3;
	width: 100%;
	text-align: center;
	margin: auto;
	height: 40px;
}

.padding {
	padding: 10px 0;
}

#contentwrapper {
	margin: auto;
	padding: 20px 0 30px 0;
	width: 100%;
	background: url('../img/whitebg.png');
}

#contentwrapper a, a:visited {
	color: #5E1A64;
}

#contentwrapper .pad {
	margin: auto;
	width: 80%;
	text-align: justify;
}

#contentwrapper2 {
	margin: auto;
	padding: 20px 0 30px 0;
	width: 100%;
	background: white;
}

#contentwrapper2 a, a:visited {
	color: #5E1A64;
}

#contentwrapper2 .pad {
	margin: auto;
	width: 80%;
	text-align: justify;
}

#contentwrapper3 {
	margin: auto;
	padding: 20px 0 30px 0;
	width: 100%;
	background: #fff0f6;
}

#contentwrapper3 a, a:visited {
	color: #5E1A64;
}

#contentwrapper3 .pad {
	margin: auto;
	width: 80%;
	text-align: justify;
}

#footer {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	width: 100%;
	background: url('../img/lilabg.png') repeat;
	color: #FFF;
	text-align: center;
	padding: 14px 0;
	bottom: 0;
}

#tummafooter {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	width: 100%;
	background: #8D298B;
	color: #FFF;
	text-align: center;
	padding: 14px 0;
	bottom: 0;
}

/* organizers */

#profiili td, tr {
	text-align: center;
	padding-bottom: 10px;
	width: 20%;
	vertical-align: top;
}

#profiili img {
	margin-bottom: 10px;
}

/* Ohjelmatyypit */

.ohjelmapalkki {
	background: black;
	color: white;
	text-align: center;
	padding: 5px 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	width: 225px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

.ohaika {
	background: black;
	color: white;
	text-align: center;
	padding: 5px 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	width: 60px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

.ohjelmatyyppi {
	padding: 5px 15px;
	text-align: center;
	border-right: 5px solid white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
}

.esitys {
	color: white;
	padding: 5px 5px;
	border: 1px solid white;
	background: #A15EBC;
	text-align: center;
}

.esitys a:link, a:visited {
	color: white;
	text-decoration: none;
}

.musa {
	color: white;
	padding: 5px 5px;
	border: 1px solid white;
	background: #7BEEE0;
	text-align: center;
}

.musa a:link, a:visited {
	color: white;
	text-decoration: none;
}

.muoti {
	color: white;
	padding: 5px 5px;
	border: 1px solid white;
	background: #4D2989;
	text-align: center;
}

.muoti a:link, a:visited {
	color: white;
	text-decoration: none;
}

.kunnia {
	color: white;
	padding: 5px 5px;
	border: 1px solid white;
	background: #9222B3;
	text-align: center;
}

.kunnia a:link, a:visited {
	color: white;
	text-decoration: none;
}

.miitti {
	color: white;
	padding: 5px 5px;
	border: 1px solid white;
	background: #5A1B5B;
	text-align: center;
}

.miitti a:link, a:visited {
	color: white;
	text-decoration: none;
}

.muu {
	color: white;
	padding: 5px 5px;
	border: 1px solid white;
	background: #DFC9ED;
	text-align: center;
}

.muu a:link, a:visited {
	color: white;
	text-decoration: none;
}

.paja {
	color: white;
	padding: 5px 5px;
	border: 1px solid white;
	background: #160C6F;
	text-align: center;
}

.paja a:link, a:visited {
	color: white;
	text-decoration: none;
}

.ohjelma1 {
	padding: 0px 5px;
	text-align: center;
	margin: 0;
	color: white;
	background: #A15EBC;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ohjelma2 {
	padding: 0px 5px;
	text-align: center;
	margin: 0;
	color: white;
	background: #7BEEE0;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ohjelma3 {
	padding: 0px 5px;
	text-align: center;
	margin: 0;
	color: white;
	background: #4D2989;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ohjelma4 {
	padding: 0px 5px;
	text-align: center;
	margin: 0;
	color: white;
	background: #9222B3;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ohjelma5 {
	padding: 0px 5px;
	text-align: center;
	margin: 0;
	color: white;
	background: #5A1B5B;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ohjelma6 {
	padding: 0px 5px;
	text-align: center;
	margin: 0;
	color: white;
	background: #DFC9ED;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ohjelma7 {
	padding: 0px 5px;
	text-align: center;
	margin: 0;
	color: white;
	background: #160C6F;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#dhtmltooltip{
	position: absolute;
	width: 300px;
	padding: 10px;
	background: white;
	visibility: hidden;
	z-index: 100;
	color: black;
	border: 1px solid black;
}

#dhtmltooltip h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: black;
	border-bottom: 1px solid black;
	margin-top: 0;
}