doctype 5
- load static from staticfiles
html
  head
    title
      block full_title
        {% if page.title %}{{ page.title }} – {{ site_settings.title }}{% else %}{{ site_settings.title }}{% endif %}
    link(rel='stylesheet', type='text/css', href='{% static "common/css/bootstrap.min.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "example/css/example.css" %}')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') {{ site_settings.title }}
    .example-content-wrap
      .container
        include content_toolbar_admin_page.jade
        h1 {{ page.title }}
        {{ page.body|safe }}

      .example-footer-push

    footer
      .container
        p.example-credit
          small.text-muted {{ tracontent_footer|safe }}
