extends hitpoint2015_base.jade
- load static from staticfiles
block full_width_content
  header.header-huge.hidden-xs
    .text-vertical-center
      img(src='{% static "hitpoint2015/images/hitpoint_shadow.png" %}', style="opacity: 0.8", style="filter: alpha(opacity=80)")

  .container
    .row
      .col-lg-9
        include content_toolbar_admin_page.pug
        article.clearfix
          h1 {{ page.title }}
          {{ page.body|safe }}
      .col-lg-3
        h4.space-above Ajankohtaista
        for blog_post in news_posts
          include hitpoint2015_front_page_blog_link.html
        a(href='{% url "content_blog_index_view" %}') Lis채채 uutisia...
        h4 Traconin blogissa
        for blog_post in blog_posts
          include hitpoint2015_front_page_blog_link.html
        a(href='{{ blog_index_url }}') Lis채채 blogikirjoituksia...
