extends japsufi_base.jade
block title
  |{{ site_settings.title }} &raquo; {{ page.title }}
block content
  include content_toolbar_admin_blog_index.pug
  article.clearfix
    h1 {{ page.title }}
    {{ page.body|safe }}
  for blog_post in blog_posts
    h2: a(href='#{blog_post.get_absolute_url()}')= blog_post.title
    p.text-muted {{ blog_post.formatted_author }} {{ blog_post.date|date:"j.n.Y" }}
    p= blog_post.excerpt
